
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/MasterEdit.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeisakusyaMasterEdit</title>
</head>
<form>

    <h1 class="title1">制作者情報編集</h1>

    <button id="deleteBtn" class="btnInfo">削除</button>
    <div>
        <label class="label1">制作者ID</label><label class="exlist">（※）</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">制作者名</label><label class="exlist">（※）</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">肩書</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">タイトル</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">コメント</label><br />
        <br />
        <input type="text" class="text_s" value="" />
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">会社名</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">住所</label><br />
        <br />
        <input type="text" class="text_s" value="" />
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">URL</label><br />
        <br />
        <input type="text" class="text_s" value="" />
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">専門分野</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">資格</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">営業エリア</label><br />
        <br />
        <textarea class="text_s" style="height:60px;" value=""></textarea>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">作者の強み</label><br />
        <br />
        <textarea class="text_s" style="height:60px;" value=""></textarea>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">経歴</label><br />
        <br />
        <textarea class="text_s" style="height:60px;" value=""></textarea>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">メモ</label><br />
        <br />
        <textarea class="text_s" style="height:60px;" value=""></textarea>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">削除状態</label><label class="exlist">（※）</label><br />
        <br />
        <input type="radio" name="level" style="margin-left:20px">通常
        <input type="radio" name="level" style="margin-left:20px">仮削除
        <input type="radio" name="level" style="margin-left:20px">削除
    </div>
    <div>
        <br />
        <br />
        <br />
    </div>
    <button id="backBtn" class="btnInfo">戻る</button>
    <button id="updateBtn" class="btnInfo">登録</button>
    <div>
        <br />
    </div>
</form>
<body>
    <div>
    </div>
</body>
</html>
