
@{
    ViewBag.Title = "(コンテンツ名)企画書";
}

<ul>
    <li><a href="/">ホーム</a> &gt;</li>
    <li><a href="/">ダミー</a> &gt;</li>
    <li>記事タイトル</li>
</ul>
@*アンダーライン.*@

<h1>(大見出し)プレゼン資料・企画書のデザインを超簡単に、手早く作成する</h1>
<p>(作成日)2015-09-07</p>
@*アンダーライン.*@

<p>(カテゴリ名前)</p>
<p>(カテゴリ名前)</p>
<p>(カテゴリ名前)</p>
<p>(カテゴリ名前)</p>
<p>(カテゴリ名前)</p><br />

<button type="button"><span class="glyphicon glyphicon-tag"></span>(タグ名)</button>
<button type="button"><span class="glyphicon glyphicon-tag"></span>(タグ名)</button>
<button type="button"><span class="glyphicon glyphicon-tag"></span>(タグ名)</button>
<button type="button"><span class="glyphicon glyphicon-tag"></span>(タグ名)</button><br />

@*画像*@
<img src="sample.gif" alt="Sample">

<p>
    (本文)A4用紙1枚にまとめる企画書フォームになります。<br />
    このテンプレートを使って説明した企画書のコラムもありますので参考にしてください。企画書に
    盛り込むポイントを容量よくまとめてあります。Word(ワード)データになっているので、簡単に
    文章の編集やデザインフォントを利用することができます。無料ダウンロードしてご利用ください。
</p>

<h2>(中見出し)プレゼン資料の書き方</h2>

<p>
    (本文テキスト)
</p>

<h3>(小見出し)端をそろえて、見えない線をつくる</h3>
@*アンダーライン*@

<p>
    (本文テキスト)
</p>

<h3>(小見出し)端をそろえて、見えない線をつくる</h3>
@*アンダーライン*@

<p>
    (本文テキスト)
</p>

@*画像*@
<img src="sample.gif" alt="Sample">

<h3>(小見出し)端をそろえて、見えない線をつくる</h3>
@*アンダーライン*@

<p>
    (本文テキスト)
</p>


@*■塗りつぶし*@
<p>■オススメの画像素材サイト&lt;外部サイト&gt; </p>

@*アイコン*@
<a href="">(リンク)PIXTA</a>
@*アイコン*@
<<a href="">(リンク)PIXTA</a>

<h2>(中見出し)プレゼン資料の書き方</h2>

<p>
    (本文テキスト)
</p>

<h3>(小見出し)端をそろえて、見えない線をつくる</h3>
@*アンダーライン*@

<p>
    (本文テキスト)
</p>


@*アンダーライン*@

<h4>オススメ記事</h4>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>
<div>
    @*画像*@
    <img src="sample.gif" alt="Sample">
    <p>(作成日)2015-09-07</p>
    <p>(記事タイトル)名刺を手作り!&lt;Webアプリ対応&gt;</p>
</div>

<h4>オススメ記事</h4>