
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/MasterView.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PermitMaster</title>
</head>
<body>
    <form>
        <h1 class="title1">許可マスタ一覧</h1>
        <h2 class="title3">検索条件</h2>
        <div class="sarchArea">
            <label class="label1">許可種別</label><br />
            <input type="text" class="search" style="margin-left:20px; width: 100px"> <button class="btnInfo" style="margin-left:20px">参照</button><br />
            <label class="label1">ロールID</label><br />
            <input type="text" class="search" style="margin-left:20px"> <button class="btnInfo" style="margin-left:20px">参照</button><br />
            <label class="label1">値</label><br />
            <input type="text" class="search" style="margin-left:20px; width: 100px"> <button class="btnInfo" style="margin-left:20px">参照</button><br />
            <br>
            <label class="label2">表示範囲</label><br />
            <br>
            <div class="deleteArea" style="margin-left:20px">
                <input type="checkbox">通常
                <input type="checkbox" style="margin-left:20px">仮削除
                <input type="checkbox" style="margin-left:20px">削除
            </div> <button class="btnInfo" style="margin-left:1100px">検索</button><br />
        </div>
        <br>
        <h2 class="title3">許可一覧</h2>
        <div>
            <table border="1" rules="all" id="viewTable">
                <tr>
                    <td class="firstLine"><label>許可種別</label></td>
                    <td class="firstLine"><label>ロールID</label></td>
                    <td class="firstLine"><label>値</label></td>
                </tr>
                <tr>
                    <td class="tableInfo"><label>1</label></td>
                    <td class="tableInfo"><label>RID__</label></td>
                    <td class="tableInfo"><label>9</label></td>
                </tr>
                <tr>
                    <td class="tableInfo"><label>2</label></td>
                    <td class="tableInfo"><label>RID__</label></td>
                    <td class="tableInfo"><label>8</label></td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <br>
            <button class="btnInfo">戻る</button>
            <button id="newBtn" class="btnInfo">新規</button>
            <br>
        </div>
        <div>
            <br>
        </div>
    </form>
</body>
</html>
