
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/MasterEdit.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileKindMasterEdit</title>
</head>
<form>

    <h1 class="title1">ファイル種別情報編集</h1>

    <button id="deleteBtn" class="btnInfo">削除</button>
    <div>
        <label class="label1">ファイル種別ID</label><label class="exlist">（※）</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <div>
        <label class="label1">ファイル種別名</label><label class="exlist">（※）</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <div>
        <label class="label1">拡張子</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <div>
        <label class="label1">対応アプリケーション</label><br />
        <br />
        <input type="text" class="text" value="" /> <button class="btnInfo" style="margin-left:20px">参照</button>
        <br />
        <br />
        <br />
    </div>
    <br />
    <div>
        <label class="label1">削除状態</label><label class="exlist">（※）</label><br />
        <br />
        <input type="radio" name="level" style="margin-left:20px">通常
        <input type="radio" name="level" style="margin-left:20px">仮削除
        <input type="radio" name="level" style="margin-left:20px">削除
    </div>
    <div>
        <br />
        <br />
        <br />
    </div>
    <button id="backBtn" class="btnInfo">戻る</button>
    <button id="updateBtn" class="btnInfo">登録</button>
    <div>
        <br />
    </div>
</form>
<body>
    <div>
    </div>
</body>
</html>
